* {
  font-family: "Gothic A1", sans-serif;
}
.BoardPage {
  background-color: rgb(249, 249, 249);
  height: 100vh;
}

.Boards {
  background-color: white;
  height: 460px;
  width: 1400px;
  border-radius: 30px;
  margin: auto;
  margin-top: 20px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
  padding-top: 15px;
}

.Clubpost {
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-evenly;
}
.Postbox {
  margin: 20px;
  display: flex;
  cursor: pointer;
}
.Boardname {
  display: flex;
  justify-content: space-between;
}
.ModifyBtns button{
border: none;
width: 32px;
height: 32px;
border-radius: 5px;
margin-left: 5px;
background-color: rgb(201, 201, 201);
color: white;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
}
.ModifyBtns :hover {
  background-color: rgb(164, 164, 164);
}
.clubimg {
  background-color: black;
  width: 100px;
  height: 100px;
  border-radius: 15px;
  margin-right: 20px;
}
.contentbox {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 1300px;
}

.Posttime {
  width: 155px;
  margin-left: auto;
  color: grey;
}
