.BoardPage {
  background-color: rgb(249, 249, 249);
  height: 140vh;
}

.SessionBoards {
  height: 850px;
  background-color: rgb(221, 239, 255);
  width: 1400px;
  border-radius: 30px;
  margin: auto;
  margin-top: 20px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
  padding-top: 15px;
}

.TopBoard {
  background-color: rgb(245, 246, 250);
  height: 360px;
  width: 1300px;
  border-radius: 30px;
  margin: auto;
  margin-top: 20px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
  padding-top: 15px;
}
.Sessionpost {
  height: 300px;
}
.SessionPostbox {
  margin: 20px;
  display: flex;
  cursor: pointer;
  height: 100px;
  background-color: white;
}

.Sessionpost h1 {
  margin-left: 20px;
  color: rgb(40, 90, 255);
}
.Boardname {
  display: flex;
  /* margin-bottom: 5px; */
}
.SessionProfile {
  width: 60px;
  background-color: rgb(187, 187, 187);
  border-radius: 50px;
}
.SessionUserbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 20px 0px 20px;
}

.SessionContent {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 1200px;
}

.BottomBoard {
  width: 1300px;
  margin: auto;
  /* background-color: aquamarine; */
  height: 390px;
  margin-top: 25px;
}
.BottomBoard h2 {
  margin-left: 50px;
}
.Videobox {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-top: 10px;
}
.Videobox img {
  width: 250px;
}

.Videopost p {
  font-size: 20px;
}

.SessionWriteBoard {
  background-color: white;
  width: 1300px;
  margin: auto;
  margin-top: 30px;
  border-radius: 20px;
  height: 480px;
}
.SessionInputTitle {
  width: 800px;
  height: 40px;
  border-width: 0 0 2px;
  border-color: rgb(121, 186, 242);
  font-size: 25px;
}

.SessionInputContent {
  margin-top: 10px;
  width: 800px;
  height: 300px;
  resize: none;
  font-size: 15px;
  border-color: rgb(192, 217, 240);
}
select {
  margin-left: 10px;
}
.VideoTitle {
  color: black;
  margin-top: 10px;
  font-size: 20px;
}

/* 이미지 호버 효과 */
figure {
  position: relative;
  overflow: hidden;
  min-width: 230px;
  max-width: 315px;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
}

figure * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

figure img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}

figure::after,
figure figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

figure::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.65);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
  width: 230px;
  height: 230px;
}
figure figcaption {
  z-index: 1;
  padding: 40px;
  width: 230px;
  height: 230px;
  cursor: pointer;
}

figure h3 {
  width: 100%;
  margin: 5px 0;
  padding: 0;
}
figure h3 {
  line-height: 1.1em;
  font-weight: 700;
  font-size: 1.4em;
  text-transform: uppercase;
  opacity: 0;
}
figure p {
  font-size: 0.8em;
  font-weight: 300;
  letter-spacing: 1px;
  opacity: 0;
  top: 50%;
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
}
figure i {
  position: absolute;
  width: 80px;
  bottom: 10px;
  right: 10px;
  padding: 20px 25px;
  font-size: 34px;
  opacity: 0;
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
}

figure:hover img {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  opacity: 0.5;
}

figure:hover::after {
  opacity: 1;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
figure:hover h3,
figure:hover p,
figure:hover i {
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
}
