* {
  font-family: "Gothic A1", sans-serif;
}

/* 배너 스타일 */
.banner {
  position: relative;
  height: 50vh;
  overflow: hidden; /* 부모 요소를 넘치는 자식 요소를 가리기 위해 추가 */
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지 비율 유지하면서 크기 맞추기 위해 추가 */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /* opacity: 1; 이 기본 값이므로 이 줄은 생략해도 됩니다 */
}

.banner-text {
  position: absolute;
  bottom: 0; /* 오른쪽 아래에 위치시키기 위해 추가 */
  right: 0; /* 오른쪽 아래에 위치시키기 위해 추가 */
  color: white;
  font-size: 40px;
  font-weight: bold;
  padding: 20px;
  text-align: right;
  border-radius: 10px;
}

/* 각 섹션 스타일 */
.features, .home, .concerts, .analysis {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.features h2, .home h2, .concerts h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.icons, .post-list, .concert-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.icon-container, .post-item, .concert-card {
  flex: 1;
  margin: 10px;
  text-align: center;
  cursor: pointer;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  width: 180px; /* 너비 조정 */
  height: 180px; /* 높이 조정 */
  font-size: 80px; /* 이모티콘 크기를 키웁니다. */
  box-sizing: border-box;
  border-radius: 10px;
  margin: 30px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  transition: background-color 0.3s;
  overflow: hidden; /* 버튼 바깥으로 나가는 텍스트를 숨깁니다. */
}

.icon:hover {
  background-color: #e0e0e0;
  
}

.icon span {
  font-size: 60px; /* 이모티콘 크기를 더 키웁니다. */
}

.icon-label {
  margin-top: 5px;
  font-size: 20px; /* 텍스트 크기를 줄입니다. */
  font-weight: bold;
  color: #333;
}

.home .recruitment-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
  margin-right: 10px;
}

.home .recruitment-button.active {
  background-color: rgb(121, 186, 242);
  color: #fff;
}

.home .recruitment-button:hover {
  background-color: rgb(121, 186, 242);
  color: #fff;
}

/* 최근 개인 소개글 보기 버튼에 대한 스타일 */
.home .introduction-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
  margin-right: 10px;
}

.home .introduction-button.active {
  background-color:rgb(121, 186, 242);
  color: #fff;
}

.home .introduction-button:hover {
  background-color: rgb(121, 186, 242);
  color: #fff;
}

.post-list {
  display: flex;
  flex-wrap: wrap; /* 너비를 벗어나면 줄바꿈 */
  gap: 20px; /* 박스 사이 간격 */
  margin-left: -10px; /* 왼쪽 여백 보정 */
  margin-right: -10px; /* 오른쪽 여백 보정 */
}

.post-item {
  flex: 1 0 calc(33.33% - 20px); /* 박스의 너비를 설정합니다. 33.33%로 고정되며, 여유 공간이 있을 경우 자동으로 너비가 조정됩니다. */
  padding: 20px;
  border: 1px solid rgb(121, 186, 242);;
  border-radius: 5px;
  text-align: center; /* 가운데 정렬 */
  height: 200px; /* 높이를 2배로 설정합니다. */
}
  
.recruitment-button, .introduction-button {
  margin-right: 10px; /* 버튼 간격 조정 */
}

.post-item:hover {
  background-color: rgb(121, 186, 242);;
}

.post-box h3 {
  margin-bottom: 20px; /* 타이틀과 디테일 간의 아래 여백 설정 */
}

.post-box p {
  margin-top: 20px; /* 타이틀과 디테일 간의 위 여백 설정 */
}
.post-details {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid rgb(121, 186, 242);;
  border-radius: 5px;
  width: 100%;
  max-width: 500px;
  background-color: rgb(121, 186, 242);;
}

.concerts {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.concerts h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.concert-cards {
  display: flex;
  flex-direction: row; /* 이 부분을 추가하여 수평으로 정렬됩니다. */
  flex-wrap: wrap;
  gap: 20px;
}

.concert-card {
  flex: 1 0 calc(25% - 20px);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.concert-card img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.concert-card h3 {
  margin-top: 10px;
}

.concert-card p {
  margin-top: 10px;
}

.analysis h2 {
  font-size: 27px;
  margin-bottom: 14px;
}

.analysis {
  display: flex;
  align-items: center; /* 요소들을 세로로 정렬합니다. */
}

.analysis p {
  font-size: 14px;
  margin-bottom: 10px;
}

.analysis button {
  margin-top: 10px;
  padding: 8px 8px;
  font-size: 14px;
  background-color: rgb(121, 186, 242);;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.analysis button:hover {
  background-color: rgb(121, 186, 242);;
}

.images {
  margin-left: auto; /* 이미지와 텍스트 사이 간격 조정 */
}

.images img {
  max-width: 100%; /* 이미지가 부모 요소를 넘어가지 않도록 설정 */
}

.footer {
  background-color: #f0f0f0;
  padding: 20px 0;
  text-align: center;
}

.footer .social-links a {
  margin: 0 10px;
  text-decoration: none;
  color: black;
}

.posts button,
.concerts button {
  display: inline-block; /* 버튼을 인라인 블록 요소로 설정하여 한 줄에 표시 */
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px; /* 버튼 간격 조정 */
  margin-bottom: 10px; /* 버튼 아래 여백 조정 */
}

.posts button:hover,
.concerts button:hover {
  background-color: #45a049;
}
/* 
.SessionBtn:hover {
    box-shadow: 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

} */