.MyPosts {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .MyPosts-container {
    display: flex;
    flex: 1;
    background-color: #f8f9fa;
    margin-top: 60px;
  }
  
  .MyPosts-content {
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .MyPosts-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .MyPosts-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .MyPosts-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .MyPosts-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .MyPosts-body {
    text-align: left;
    margin-top: 10px;
  }