.Clapimg {
    width: 150px;
    margin-top: 40px;
}

.Finishment {
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 200px;
}
.Finishment p {
    margin: auto;
    font-size: 30px;
    font-weight: 600;
    color: black;
}

.GotoLogin {
    border: none;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 600;
    background-color: rgb(121, 186, 242);
    color: white;
    height: 35px;
    width: 120px;
    margin: 25px 20px;
    cursor: pointer;
  }
  