.Sessiontoggle{
    display: flex;
}

.ToggleBtn {
  background-color: rgb(121, 186, 242);
  border-radius: 20px;
  width: 150px;
  height: 40px;
  color: white;
  margin-bottom: 10px;
  margin-left: 110px;
  display: flex;
  align-items: center;
  z-index: 1;

}
.Togglename {
    margin-left: 20px;
    font-weight: 600;
    font-size: 20px;
}
.OpenBtn {
    border: none;
    margin-left: 10px;
    background-color: rgb(121, 186, 242);
cursor: pointer;
}
.Sessionbox {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
  width: 600px;
  height: 40px;
  background-color: white;
  border-style: solid;
  box-sizing: border-box;
  border-radius: 0 20px 20px 20px;
  border-color: rgb(121, 186, 242);
  z-index: 0;
margin-left: 200px;
padding-left: 80px;
}
.SessionBtn {
    display: flex;
    align-items: center;
    font-size: 20px;
}
.SessionBtn input {
    transform : scale(1.5);
    margin-right: 5px;
}